#example-card {
    max-width: 400px;
    margin: 5vw;
    border: 1px solid lightgray;
}

.trian {
    position: relative;
    bottom: 2.4vw;
    left: 12.5vw;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 15px 16px;
    border-color: transparent transparent lightgray transparent;
}

.lab {
    background-color: deepskyblue;
    width: 60px;
    height: 25px;
    margin: 1vw 0.5vw;
    text-align: center;
}

.custom-scroll-bar {
    // height: 70vh;
    margin-left: .5vw;
}

.boxstyle {
    margin-left: .5vw;
}

.segment {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    .first-segment {
        flex: 1;
        border-right: 1px solid lightgrey;
    }
    .second-segment {
        flex: 1;
        padding-left: 1vw;
    }
}