<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#example-card">
        Open modal
      </button>





<mat-card id="example-card" class="collapse">
    <div class="trian"></div>
    <mat-card-header>
        <mat-card-title>Filter</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="segment">
            <div class="first-segment">
                <div class="lab">
                    <label for="">Country</label>
                </div>
                <div class="rounds" *ngFor="let countries of radios" class="custom-scroll-bar">
                    <mat-radio-button>{{countries.radio}}</mat-radio-button>
                </div>
            </div>
            <div class="second-segment">
                <div class="lab">
                    <label for="">Location</label>
                </div>
                <div class="checkboxes" *ngFor="let location of boxes" class="boxstyle">
                    <div class="box-scroll scroll">
                        <mat-checkbox>{{location.box}}</mat-checkbox>
                    </div>
                </div>
                <!-- <div class="box scroll" style="overflow-y: scroll;width:150px;">
                    <div>
                        <mat-checkbox>Bangalore</mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox>Bangalore</mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox>Bangalore</mat-checkbox>
                    </div>

                    <div>
                        <mat-checkbox>Bangalore</mat-checkbox>
                    </div>

                    <div>
                        <mat-checkbox>Bangalore</mat-checkbox>
                    </div>

                    <div>
                        <mat-checkbox>Bangalore</mat-checkbox>
                    </div>

                    <div>
                        <mat-checkbox>Bangalore</mat-checkbox>
                    </div>
                </div> -->
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer class="one">
        <button type="button" class="btn btn-light" style="margin: 0 1vw 1vw 2vw;outline-style: none;">CANCEL</button>
        <button type="button" class="btn btn-primary" style="margin: 0 1vw 1vw 0vw;outline-style: none;">APPLY</button>
    </mat-card-footer>
</mat-card>